.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 52px);
  height: calc(100dvh - 52px);
  width: 100dvw;

  padding: 16px;
}
