.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 52px;
  padding: 0 16px;

  strong {
    color: var(--primary);
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  nav {
    display: flex;
    gap: 8px;
    align-items: center;

    a {
      color: var(--title);
      text-decoration: none;
      cursor: pointer;
      transition: color 0.2s;
      display: flex;
      align-items: center;

      &:hover {
        color: var(--text);
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
